*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.JoinPage2{
    background-image: linear-gradient(rgba(21, 255, 0, 0.856) , green , rgba(221, 91, 51, 0.815) , pink  , blue , rgb(240, 105, 105)) ;
    border-radius: 5%;
    height: 63vh;
    width: 70vw;
    margin: auto;
    overflow: hidden;
}

.customFormLogin{
    background-color: rgba(114, 223, 181, 0.671);
    border-radius: 3%;
    padding: 5%;
    height: 50vh;
}

  
@media (max-width:700px) {
    #hding{
      color: rgb(18, 18, 20);
      font-style: italic;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.5em;
      /* margin-top: 20vh; */
    }
    #hding:hover{
      color: rgb(62, 85, 8);
      font-size:  1.7rem;
      font-weight: 900;
      font-style: normal;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
    }
    

    .JoinContainer{
      /* border: 2px solid black; */
      width: 90vw;
      height: 80vh;
      margin:  auto;
      /* background-color: rgb(85, 121, 148); */
    }
  
    .JoinPage2{
      width: 98vw;
      height: 65vh;
      margin:  auto;
      /* background-color: rgb(21, 226, 226); */
    }
    .form-check{
      display: flex ;
      flex-direction:column;
      justify-content: space-around;
      flex-wrap: wrap;
      /* align-items: center;
      width: 100%;
      width: 100%; */
    }
  
  
    input:focus{
      color: rgb(13, 14, 12);
      background-color: rgb(252, 186, 107);
      font-size: 1.2em;
      font-weight: 600;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    }
    
    .pLink{
      color: rgb(111, 86, 250);
    }
    
    .pLink:hover{
      color: rgb(8, 8, 253);
      font-weight: 500;
      text-decoration: underline;
      background-color: aqua;
    
    }
    
  }
  @media (max-width: 450px) {
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .JoinContainer{
      width: 98%;
      margin-top: 20vh;
    }

    .JoinPage2{
      height: 60vh;
      padding: 3%;
      width: 100%;
      margin: 1%;
      padding-bottom: 2%;
    }
  
    .pLink{
      color: rgb(45, 11, 238);
      display: block;
      font-size: 14px;
    }
    .footer{
      flex-direction: column;
      align-items: center;
    }
  }
