*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.greeting{
    font-size: 1.9em;
    color: rgb(204, 16, 16);
    text-align: center;
    margin: 3% auto;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile{
    /* border: 2px solid rgb(238, 144, 144); */
    border-radius: 5%;
    background-color: silver;
    height: 50vh;
    padding: 2%;
    width: 60vw;
    margin: auto;
    text-align: center;
}

.field{
    color: rgb(29, 5, 5);
    font-size: 1.5em;
    margin: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn1{
    color: rgb(176, 247, 11);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;    
    justify-content: center;
    background-color: rgb(90, 48, 92);
    text-align: center;
    font-size: 1.3rem;
    width: 20vw;
    padding: 0.5% , 2%;
    margin: auto;
  } 

#btn:hover{
    color: rgb(9, 10, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  } 

@media (max-width : 600px) {
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    
    .greeting{
        font-size: 1.2em;
        color: rgb(204, 16, 16);
        text-align: center;
        margin:  auto;
        margin-top: 10vh;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .profile{
        /* border: 2px solid rgb(238, 144, 144); */
        background-color: rgb(241, 135, 135);
        height: 40vh;
        padding: 2%;
        width: 90vw;
        margin: 5% auto;
        text-align: center;
    }
    
    .field{
        color: rgb(19, 1, 1);
        font-size: 1em;
        margin: 5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #btn1{
        color: rgb(176, 247, 11);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        background-color: rgb(90, 48, 92);
        text-align: center;
        font-size: 1.3rem;
        width: 50vw;
        padding: 0.5% , 2%;
        margin: auto;
      }    
}