*{
    margin: 0%;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(3, 58, 77);
    height: 08vh;  
  }

  .JoinPage{
    background-image: linear-gradient(rgba(53, 66, 52, 0.856) , rgb(140, 207, 140) , rgba(131, 43, 17, 0.815) , rgb(124, 223, 11)  , blue , rgb(240, 105, 105)) ;
    border-radius: 5%;
    height: 63vh;
    width: 70vw;
    margin: auto;
    overflow: hidden;
}

  .JoinPage{
    /* border: 2px solid rgb(106, 216, 15);    */
    /* background-color: rgb(139, 139, 136); */
    width: 69vw;
    height: 90vh;
    margin: auto;
  }
  .JoinContainer{
    /* border: 2px solid black; */
    width: 66vw;
    height: 80vh;
    margin:  auto;
    /* background-color: rgb(85, 121, 148); */
  }
  
  #hding{
    color: rgb(223, 230, 223);
    margin: auto;
    /* margin-bottom: 0.5%; */
    text-align: center;
    font-size:  1.5rem;
    font-style: normal;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
  }
  
  #hding:hover{
    color: rgb(108, 230, 8);
    font-size:  1.9vw;
    font-weight: 900;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
  }
  
  .customForm{
    /* padding: %; */
    overflow: hidden;
    width: 56vw;
    height: 70vh;
    border-radius: 5%;
    padding: 4%;
    box-shadow: 0 , 10px , 20px, 0 ;
    background-color:rgb(122, 122, 67);
    /* border: 2px solid blue; */
  }
  
  .checkme{
    color: rgb(77, 20, 3);
    font-weight: 700;
    font-style: italic;
  }
  
   #btn1{
    color: rgb(18, 34, 14);
    display: flex;
    justify-content: center;
    background-color: rgb(55, 121, 24);
    text-align: center;
    font-size: 1.3rem;
    width: 30vw;
    padding: 0.5% , 2%;
    margin: auto;
  } 
  
  #btn1:hover{
    color: antiquewhite;
    background-color: blueviolet;
    
  }
  input:focus{
    color: rgb(13, 14, 12);
    background-color: rgb(75, 60, 43);
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  }
  
  .pLink{
    color: rgb(35, 7, 196);
    font-weight: 700;
  }
  
  .pLink:hover{
    color: rgb(8, 8, 253);
    font-weight: 500;
    text-decoration: underline;
    background-color: aqua;
  
  }
  
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  
  
  @media (max-width:700px) {
    #hding{
      color: rgb(18, 18, 20);
      font-style: italic;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.5em;
      /* margin-top: 20vh; */
    }
    #hding:hover{
      color: rgb(62, 85, 8);
      font-size:  1.7rem;
      font-weight: 900;
      font-style: normal;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
    }
    
    .customForm{
      width: 78vw;
      height: 66vh;
      padding: 2%;
      /* text-align: center; */
      box-shadow: 0 , 10px , 20px, 0 ;
    }
    .JoinContainer{
      /* border: 2px solid black; */
      width: 90vw;
      height: 80vh;
      margin:  auto;
      /* background-color: rgb(85, 121, 148); */
    }
  
    .JoinPage{
      width: 98vw;
      height: 85vh;
      margin:  auto;
      /* background-color: rgb(21, 226, 226); */
    }
    .form-check{
      display: flex ;
      flex-direction:column;
      justify-content: space-around;
      flex-wrap: wrap;
      /* align-items: center;
      width: 100%;
      width: 100%; */
    }
  
  
    input:focus{
      color: rgb(13, 14, 12);
      background-color: rgb(252, 186, 107);
      font-size: 1.2em;
      font-weight: 600;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    }
    
    .pLink{
      color: rgb(111, 86, 250);
    }
    
    .pLink:hover{
      color: rgb(8, 8, 253);
      font-weight: 500;
      text-decoration: underline;
      background-color: aqua;
    
    }
    
  }
  @media (max-width: 450px) {
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .JoinContainer{
      width: 98%;
      margin-top: 20vh;
    }
    .customForm{
      height: 70vh;
      width: 97%;
      padding-right: 2%;
      padding-bottom: 3%;
      background-color: rgba(155, 155, 95, 0.877);
    }
    .JoinPage{
      height: 100%;
      width: 100%;
      margin: 1%;
      padding-bottom: 2%;
    }
  
    .pLink{
      color: rgb(45, 11, 238);
      display: block;
      font-size: 14px;
    }
    .footer{
      flex-direction: column;
      align-items: center;
    }
  }